.App{
    padding-top: 4rem;
    min-height: 100vh;
}

.ib{
    display: inline-block !important;
}

.df{
    display: flex;
}
.progress{
    height: 8px !important;
}
.progress-bar{
    height: 8px !important;
    background-color: #6D7BE3 !important;
}
.idx{
    display: flex !important;
    z-index: 1 !important;
}
.ml-25{
    margin-left: 25% !important;
}
.mt-60{
    margin-top: 60px;
    height: 5em;
}
.mt75{
    margin-top: 75px;
}
.mt-65{
    margin-top: -65px;
    border-radius: 45px;
    border: none;
}
.pokeHeader{
    height: 22em !important;
}