.App{
    padding-top: 4rem;
    min-height: 100vh;
}

.ib{
    display: inline-block !important;
}

.df{
    display: flex;
}
.progress{
    height: 8px !important;
}
.progress-bar{
    height: 8px !important;
    background-color: #6D7BE3 !important;
}
.idx{
    display: flex !important;
    z-index: 1 !important;
}
.ml-25{
    margin-left: 25% !important;
}
.mt-60{
    margin-top: -10px;
}
.mt90{
    margin-top: 90px;
}
.mt-65{
    margin-top: -65px;
    border-radius: 45px;
    border: none;
}
.pokeHeader{
    height: 22em !important;
}
.poke-title{
    font-size: 55pt;
}
.pd-0{
    padding: 0px;
}
.cardTitle{
    font-size: 18pt;
    font-weight: 500;
}
.typeFont{
    font-size: 12pt;
}
.pokeIndex{
    font-size: 12pt;
}
.imgPoke{
    width: 8em;
    height: 8em;
}
.pokePos{
    margin-top: 0px;
    float: left;
}

@media only screen and (max-width: 600px) {
    .ml-25{
        margin-left: 0% !important;
    }
    .poke-title{
        font-size: 30pt;
    }
    .cardTitle{
        font-size: 8pt;
        font-weight: 700;
    }
    .typeFont{
        font-size: 8pt;
    }
    .pokeIndex{
        font-size: 8pt;
    }
    .imgPoke{
        width: 5em !important;
        height: 5em !important;
    }
    .pokePos{
        margin-top: -40px;
        float: right;
    }
  }